.employee-column-title {
  display: flex;
  justify-content: space-between;
}

.employee-show-more-row {
  display: flex;
}

.employee-show-more-data {
  margin-left: 3%;
}

.row {
  display: flex;
  margin-top: 10px;
}

.row h6:nth-child(1) {
  width: 100px;

  margin-right: 3%;
}
.row h6:nth-child(2) {
  width: 80%;
}
